<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa</h1> <br/>
        <h2>Smoothielista</h2><br/>
        <ul>
            <li th:each="annos: ${annokset}">
                <span th:text="${annos.nimi}">jotain?</span></li>
        </ul>

        
        <p><a href="/smoothiet">Lisää uusi tai muokkaa vanhoja</a></p>
        <p><a href="/ainekset">Raaka-aineet</a></p>
    </body>
</html>