
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h2>Smoothielista</h2>
        <ul>
            <li th:each="annos: ${annokset}">
                <a th:href="@{~/smoothiet/{id}(id=${annos.id})}"><span th:text="${annos.nimi}">smoothie</span></a></li>
        </ul>

        <ul>
        <li><a href="/smoothiet">Luo uusi smoothie</a></li>
        <li><a href="/ainekset">Tarkastele ja lisää aineksia</a></li>
        </ul>
    </body>
</html>