
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Smoothiet</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <h2>Smoothiet</h2>
        <form>
            <ul th:each="annos: ${smoothiet}">
                <li><a th:href="@{~/smoothiet/{id}(id=${annos.id})}"><span th:text="${annos.nimi}">smoothie</span></a>
                     <a th:href="@{~/smoothiet/{id}/poista(id=${annos.id})}"><span th:text="(poista)">smoothie</span></a>
                </li>
            </ul>
        </form>

        <h4>Lisää uusi</h4>

        <form method="POST" action="/smoothiet" id="uusiSmoothie">
            Smoothien nimi:<br/>
            <input type="text" name="smoothieNimi" required="required" /><br/>
            <input type="submit" value="Lisää" form="uusiSmoothie"/><br/>
        </form>

        <h4>Lisää raaka-aineita</h4>
        <form method="POST" action="/smoothiet" id="lisaaAineita">
            Smoothien nimi:<br/>
            <select name="annos">
                <option th:each="smoothie: ${smoothiet}" th:value="${smoothie.id}" th:text="${smoothie.nimi}">
                    raaka-aine
                </option>
            </select><br/>
            Lisättävä raaka-aine:<br/>
            <select name="raakaAine">
                <option th:each="aine: ${raakaAineet}" th:value="${aine.id}" th:text="${aine.nimi}">
                    raaka-aine
                </option>
            </select><br/>
            Järjestys<br/>
            <input type="text" name="jarjestys"/><br/>
            Määrä<br/>
            <input type="text" name="maara"/><br/>
            Ohje<br/>
            <input type="text" name="ohje"/><br/>
            <input type="submit" value="Lisää" form="lisaaAineita"/>
        </form>

        <a href="/">Takaisin</a>
    </body>
</html>
