<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head>
        <title th:text="${smoothie.nimi}">Smoothien nimi</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <h2 th:text="${smoothie.nimi}">Smoothien nimi</h2>


        <ul>
            <li th:each="raakaAine: ${raakaAineet}">
                <span th:text="${raakaAine.nimi}">raaka-aine</span>
            </li>
        </ul>

        <ul>
            <a href="../../"><li>Listaukseen</li></a>
        </ul>
    </body>
</html>